<html>

<head>
    <title>Mongoose Dashboard</title>
</head>

<body>
    <h1>Add Your Animal</h1>
    <form action="/mongooses/add" method="POST">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Favorite Food:</td>
                <td><input type="text" name="food"></td>
            </tr>
        </table>       
        <input type="submit" name="submit">
    </form>
</body>

</html>