<html>

<head>
    <title>Quoting Dojo</title>

</head>

<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quote" method="POST">
        Your name: <input type="text" name="name"><br><br>
        Your quote:<br> <textarea name="text" cols="30" rows="8" style="resize: none;"></textarea><br><br>
        <input type="submit" name="submit" value="Add my qoute!">
    </form>
    <a href="quotes"><button>Skip to quotes</button></a>
</body>

</html>