<html>

<body>
    <h1>Here are some information about animals!</h1>
    <% for (var i in arr) { %>
        <h4>Name: <%= arr[i].name %></h4>
        <p style="color: blue;">Favorite Food: <%= arr[i].favorite_food %> </p>
        <hr>
    <% } %>
</body>

</html>