<html>
    <head>
        <title>Survey</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type ="text/javascript">
            $(document).ready(function (){
                var socket = io(); //1
                $('#survey').submit(function(e) {
                    e.preventDefault();
                    socket.emit('posting_form', {
                        name: $('#name').val(),
                        city: $('#city').val(),
                        lang: $('#lang').val(),
                        comment: $('#comment').val()
                    });
                socket.on('updated_message', function (data) { 
                document.getElementById("print").innerHTML = data.msg
                socket.on('random_number', function (data) { 
                document.getElementById("rand").innerHTML = data.rand});
              
            });

            
            });
                console.log(data.name)

            

                 });


          
                  

        </script>
     
    </head>
    <body>
        <div id="print" style="background-color: lightblue">
            
           
        </div>
        <div id="rand" style="background-color: lightblue">
            
  
        </div>
        <form action="" id="survey">
            <label>Your Name:</label><input type="text" name="name" id="name"><br><br>
            <label>Dojo Location:</label>
            <select name="city" id="city">
                    <option value="Riyadh">Riyadh</option>
                    <option value="Dubai">Dubai</option>
                    <option value="Jeddah">Jeddah</option>
            </select><br><br>
            <label>Favorite Language:</label>
            <select name="lang" id="lang">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="PHP">PHP</option>
            </select><br><br>
            <label>Comment(Optional):</label><br>
            <textarea cols="60" rows="10" name="comment" id="comment"></textarea><br><br>

            <input type="submit" name="submit">

        </form>
    </body>
</html>